In [ ]:
# Ramon Montoya
# Assignment 3A: Using Functions and Loops. 
# Parts 1, 2, 3

# Create sets of fruits. The set1 should contain apple, banana, orange, kiwi. 
# The set2 should contain banana, grape, watermelon, and kiwi.
# Creating the set of fruits. 
fruitSet01 = {"apple", "banana", "orange", "kiwi"}
fruitSet02 = {"banana", "grape", "watermelon", "kiwi"}

# Use the union method to print 'Union of set1 and set2:' and the result. 
union_fruit = fruitSet01.union(fruitSet02)
print(union_fruit) 

# Use the intersection method to print 'Intersection of set1 and set2:' and the result. 
intersection_fruit = fruitSet01.intersection(fruitSet02)
print(intersection_fruit)

# Use the difference method to print 'Difference between set1 and set2:' and the result. 
difference_fruit = fruitSet01.difference(fruitSet02)
print(difference_fruit)

# Use the symmetric difference method to print 'Symmetric difference between set1 and set2:' 
# and the result. 
sym_difference_fruit = fruitSet01.symmetric_difference(fruitSet02)
print(sym_difference_fruit)

# Use the union method to print 'Union of set1 and set2:' and the result. 
union_fruit = fruitSet01.union(fruitSet02)
print(union_fruit)

In [1]:
# Creating the set of fruits. 
fruitSet01 = {"apple", "banana", "orange", "kiwi"}
fruitSet02 = {"banana", "grape", "watermelon", "kiwi"}

In [2]:
# Use the union method to print 'Union of set1 and set2:' and the result. 
union_fruit = fruitSet01.union(fruitSet02)
print(union_fruit)

{'watermelon', 'kiwi', 'grape', 'banana', 'orange', 'apple'}

In [3]:
# Use the intersection method to print 'Intersection of set1 and set2:' and the result. 
intersection_fruit = fruitSet01.intersection(fruitSet02)
print(intersection_fruit)

{'banana', 'kiwi'}

In [4]:
# Use the difference method to print 'Difference between set1 and set2:' and the result. 
difference_fruit = fruitSet01.difference(fruitSet02)
print(difference_fruit)

{'orange', 'apple'}

In [5]:
# Use the symmetric difference method to print 'Symmetric difference between set1 and set2:' 
# and the result. 
sym_difference_fruit = fruitSet01.symmetric_difference(fruitSet02)
print(sym_difference_fruit)

{'watermelon', 'grape', 'orange', 'apple'}

In [6]:
# Use the union method to print 'Union of set1 and set2:' and the result. 
union_fruit = fruitSet01.union(fruitSet02)
print(union_fruit)

{'watermelon', 'kiwi', 'grape', 'banana', 'orange', 'apple'}

In [ ]:
# Ramon Montoya 
# Part 2

# Import the pandas library. 
import pandas as pd

# Load the Titanic dataset as a dataframe titanic_data.
titanic_data = pd.read_csv("titanic_train.csv")

# Summarize the dataset.
print(titanic_data.info())

# Use the following code to determine the possibilities for the cities the Titanic embarked from. 
# Note: nan is the result given when there is no data.
# titanic_data['Embarked'].unique()
embark_cities = titanic_data['Embarked'].unique()
print("Possible cities that the Titanic embarked from: ", embark_cities)

# Fill blank fields in Embarked with X using the following code. Check the data for cities again.
# titanic_data['Embarked'].fillna('X', inplace=True)
embark_cities = titanic_data['Embarked'].fillna('X', inplace=True)
embark_cities = titanic_data['Embarked'].unique()
print("Possible cities that the Titanic embarked from: ", embark_cities)

# Create a dictionary (passenger_city_count) to store the count of passengers who departed from each 
# city. Remember that string data needs to be inside quotations (ex. 'string' )
passenger_city_count = {'S': 0, 'C': 0, 'Q': 0, 'X': 0}

# Iterate over the dataset and count passengers in from each city. 
for index, row in titanic_data.iterrows(): 
    passenger_city = row['Embarked']
    passenger_city_count[passenger_city] += 1

# Print the Passenger counts by Embarked from City. 
print("Passenger counts by Embarked from City: ")
for passenger_city, count in passenger_city_count.items():
    print(f"City {passenger_city}: {count}")

In [14]:
# Import the pandas library. 
import pandas as pd

In [16]:
# Load the Titanic dataset as a dataframe titanic_data.
titanic_data = pd.read_csv("titanic_train.csv")

In [18]:
# Summarize the dataset.
print(titanic_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

In [19]:
# Use the following code to determine the possibilities for the cities the Titanic embarked from. 
# Note: nan is the result given when there is no data.
# titanic_data['Embarked'].unique() 
embark_cities = titanic_data['Embarked'].unique()
print("Possible cities that the Titanic embarked from: ", embark_cities)

Possible cities that the Titanic embarked from:  ['S' 'C' 'Q' nan]

In [22]:
# Fill blank fields in Embarked with X using the following code. Check the data for cities again.
# titanic_data['Embarked'].fillna('X', inplace=True)
embark_cities = titanic_data['Embarked'].fillna('X', inplace=True)
embark_cities = titanic_data['Embarked'].unique()
print("Possible cities that the Titanic embarked from: ", embark_cities)

Possible cities that the Titanic embarked from:  ['S' 'C' 'Q' 'X']

In [24]:
# Create a dictionary (passenger_city_count) to store the count of passengers who departed from each 
# city. Remember that string data needs to be inside quotations (ex. 'string' ) 
passenger_city_count = {'S': 0, 'C': 0, 'Q': 0, 'X': 0}

In [25]:
# Iterate over the dataset and count passengers in from each city. 
for index, row in titanic_data.iterrows(): 
    passenger_city = row['Embarked']
    passenger_city_count[passenger_city] += 1

In [27]:
# Print the Passenger counts by Embarked from City. 
print("Passenger counts by Embarked from City: ")
for passenger_city, count in passenger_city_count.items():
    print(f"City {passenger_city}: {count}")

Passenger counts by Embarked from City:
City S: 644
City C: 168
City Q: 77
City X: 2

In [ ]:
# Ramon Montoya
# Part 3

# Import the pandas library.
import pandas as pd

# Load the grocery dataset as a dataframe grocery_data.
grocery_data = pd.read_csv("grocery.csv")

# Summarize the dataset.
print(grocery_data.info())

# Determine the possibilities for the Country of Origin for the products in the grocery dataset. 
country_of_origin = grocery_data['Country of Origin'].unique()
print("Country of Origin Possibilites for grocery products: ", country_of_origin)

# Create a dictionary (product_country_count) to store the count of products from each country of origin. 
country_origin_count = {'United States': 0, 'Colombia': 0, 'Brazil': 0, 'Canada': 0, 'Ecuador': 0, 
                        'France': 0, 'Madagascar': 0, 'Mexico': 0, 'Norway': 0, 'Peru': 0, 'Portugal': 0}

# Iterate over the dataset and count products from each country.
for index, row in grocery_data.iterrows(): 
    country_origin = row['Country of Origin']
    country_origin_count[country_origin] += 1

# Print the Product counts by Country of Origin. 
print("The Product Counts by Country of Origin: ")
for country_origin, count in country_origin_count.items():
    print(f"Country {country_origin}: {count}")

In [28]:
# Import the pandas library.
import pandas as pd

In [30]:
# Load the grocery dataset as a dataframe grocery_data.
grocery_data = pd.read_csv("grocery.csv")

In [31]:
# Summarize the dataset.
print(grocery_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 184 entries, 0 to 183
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   tem                     184 non-null    object
 1   Category                184 non-null    object
 2   Refrigeration Required  184 non-null    object
 3   Weight (lbs)            184 non-null    float64
 4   Price                   184 non-null    object
 5   Country of Origin       184 non-null    object
 6   Manufacturer            183 non-null    object
dtypes: float64(1), object(6)
memory usage: 10.2+ KB
None

In [32]:
# Determine the possibilities for the Country of Origin for the products in the grocery dataset. 
country_of_origin = grocery_data['Country of Origin'].unique()
print("Country of Origin Possibilites for grocery products: ", country_of_origin)

Country of Origin Possibilites for grocery products:  ['United States' 'Colombia' 'Brazil' 'Canada' 'Ecuador' 'France'
 'Madagascar' 'Mexico' 'Norway' 'Peru' 'Portugal']

In [33]:
# Create a dictionary (product_country_count) to store the count of products from each country of origin.
country_origin_count = {'United States': 0, 'Colombia': 0, 'Brazil': 0, 'Canada': 0, 'Ecuador': 0, 
                        'France': 0, 'Madagascar': 0, 'Mexico': 0, 'Norway': 0, 'Peru': 0, 'Portugal': 0}

In [34]:
# Iterate over the dataset and count products from each country. 
for index, row in grocery_data.iterrows(): 
    country_origin = row['Country of Origin']
    country_origin_count[country_origin] += 1

In [35]:
# Print the Product counts by Country of Origin. 
print("The Product Counts by Country of Origin: ")
for country_origin, count in country_origin_count.items():
    print(f"Country {country_origin}: {count}")

The Product Counts by Country of Origin:
Country United States: 166
Country Colombia: 1
Country Brazil: 1
Country Canada: 2
Country Ecuador: 1
Country France: 1
Country Madagascar: 1
Country Mexico: 8
Country Norway: 1
Country Peru: 1
Country Portugal: 1