In [1]:
# Ramon Montoya
# Assignment 2B 

# Importing the pandas library 
import pandas as pd

In [2]:
# Loading the grocery dataset. 
df = pd.read_csv('grocery.csv')

In [3]:
# Checking the dataframe
print(df.head())

                tem               Category Refrigeration Required  \
0    Macadamia Nuts          Miscellaneous                     No
1  Brussels Sprouts  Fruits and Vegetables                    Yes
2            Coffee              Beverages                     No
3       Maple Syrup      Snacks and Sweets                    Yes
4          Flaxseed          Miscellaneous                     No

   Weight (lbs)   Price Country of Origin  Manufacturer
0           1.0  $7.00      United States       Nut Co.
1           1.0  $2.00           Colombia    Veggie Co.
2           1.0  $5.00             Brazil  Beverage Co.
3           1.0  $4.00             Canada    Snacks Co.
4           1.0  $4.00             Canada      Seed Co.

In [4]:
# Summarize the dataframe 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 184 entries, 0 to 183
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   tem                     184 non-null    object
 1   Category                184 non-null    object
 2   Refrigeration Required  184 non-null    object
 3   Weight (lbs)            184 non-null    float64
 4   Price                   184 non-null    object
 5   Country of Origin       184 non-null    object
 6   Manufacturer            183 non-null    object
dtypes: float64(1), object(6)
memory usage: 10.2+ KB

In [5]:
#Remove the $ from the entries in Price. 

df['Price'] = df['Price'].str.replace('$', '')
#Change dtype of Price to float64.
df['Price'] = df['Price'].astype('float64')
#check dataframe
print(df.head())

                tem               Category Refrigeration Required  \
0    Macadamia Nuts          Miscellaneous                     No
1  Brussels Sprouts  Fruits and Vegetables                    Yes
2            Coffee              Beverages                     No
3       Maple Syrup      Snacks and Sweets                    Yes
4          Flaxseed          Miscellaneous                     No

   Weight (lbs)  Price Country of Origin  Manufacturer
0           1.0    7.0     United States       Nut Co.
1           1.0    2.0          Colombia    Veggie Co.
2           1.0    5.0            Brazil  Beverage Co.
3           1.0    4.0            Canada    Snacks Co.
4           1.0    4.0            Canada      Seed Co.

In [6]:
# Check the descriptive statistics. 

df.describe()

       Weight (lbs)       Price
count    184.000000  184.000000
mean       1.030707    2.961957
std        1.119180    2.369909
min        0.100000    0.300000
25%        1.000000    1.500000
50%        1.000000    2.500000
75%        1.000000    4.000000
max       10.000000   20.000000