In [1]:
# Ramon Montoya
# Functions and Loops - Module 03 Example 01

# Creating the set
my_set = {1, 2, 3, 4, 5}
 
# Adding elements to the set
my_set.add(6)
my_set.add(7)
 
# Removing the elements from the set
my_set.remove(3)
 
# Checking the membership
print(2 in my_set)  # Output: True
print(10 in my_set) # Output: False

True
False

In [6]:
# The union() method.

# union(): The union() method returns a new set containing all the unique elements present in either 
# of the two sets (or more, if provided as arguments). It essentially combines the elements of 
# both sets, removing any duplicates.

set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

In [7]:
# The intersection() method.

# The intersection() method returns a new set containing the common elements present in both sets 
# (or more, if provided as arguments). It only includes elements that are present in both sets. 

set1 = {1, 2, 3}
set2 = {3, 4, 5}
intersection_set = set1.intersection(set2)
print(intersection_set)  # Output: {3}

{3}

In [5]:
# The difference() method. 

# The difference() method returns a new set containing the elements that are present in the first set 
# but not in the second set (or sets). It essentially subtracts the elements of the second set 
# (or sets) from the first set. 

set1 = {1, 2, 3}
set2 = {3, 4, 5}
difference_set = set1.difference(set2)
print(difference_set)  # Output: {1, 2}

{1, 2}

In [8]:
# The symmetric_difference() method. 

# The symmetric_difference() method returns a new set containing the elements that are present in either 
# of the sets, but not in both. It essentially returns the set of elements that are exclusive to each set. 

set1 = {1, 2, 3}
set2 = {3, 4, 5}
symmetric_difference_set = set1.symmetric_difference(set2)
print(symmetric_difference_set)  # Output: {1, 2, 4, 5}

{1, 2, 4, 5}

In [10]:
#### ------ Functions for Reusable Code Blocks ------ #### 

# Functions in programming are blocks of reusable code that perform a specific task. They help break 
# down complex problems into smaller, more manageable parts, making code easier to understand, debug, 
# and maintain.

In [11]:
# Function Example 01 

def greet(name):
    """A function to greet the user."""
    print("Hello, " + name + "!")
 
 
# Call the function
greet("Alice")    # Hello, Alice!
greet("Bob")      # Hello, Bob!

Hello, Alice!
Hello, Bob!

In [12]:
# Example of a function using the Titanic dataset.

#import library
import pandas as pd
 
def analyze_survival_by_gender(dataset):
    """
    Analyzes the survival rate of passengers based on their gender.
    Parameters:
    - dataset: The Titanic dataset containing information about passengers.
    Returns:
    - survival_rates: A dictionary containing the survival rates for males and females.
    """
    # Group the dataset by 'Sex' and calculate the survival rate for each gender
    survival_rates = dataset.groupby('Sex')['Survived'].mean()
 
    # Print the survival rates
    print("Survival rates by gender:")
    print(survival_rates)
 
# Load the Titanic dataset
titanic_data = pd.read_csv('titanic_train.csv')
 
# Call the function
survival_rates = analyze_survival_by_gender(titanic_data)

Survival rates by gender:
Sex
female    0.742038
male      0.188908
Name: Survived, dtype: float64

In [13]:
# Loops for Repetitive Actions 

# Loops in programming are constructs that allow you to execute a block of code repeatedly. They are 
# essential for automating repetitive tasks and iterating over collections of data. There are primarily 
# two types of loops:

In [14]:
# For Loop Example 01 

# A for loop iterates over a sequence (such as a list, tuple, or string) or any iterable object. It 
# executes a block of code once for each item in the sequence. The loop variable takes on each value in 
# the sequence one by one. 

# Example of a for loop
for i in range(5):
    print(i)

0
1
2
3
4

In [15]:
# While Loop Example 01 

# A while loop repeatedly executes a block of code as long as a specified condition is true. It 
# continues executing until the condition becomes false.

# Example of a while loop
i = 0
while i < 5:
    print(i)
    i += 1

0
1
2
3
4

In [16]:
# For Loop Using the TItanic Dataset

#import library
import pandas as pd
 
# Load the Titanic dataset
titanic_data = pd.read_csv('titanic_train.csv')
 
# Create a dictionary to store the count of passengers in each class
passenger_class_count = {1: 0, 2: 0, 3: 0}
 
# Iterate over the dataset and count passengers in each class
for index, row in titanic_data.iterrows():
    passenger_class = row['Pclass']
    passenger_class_count[passenger_class] += 1
 
# Print the count of passengers in each class
print("Passenger counts by class:")
for passenger_class, count in passenger_class_count.items():
    print(f"Class {passenger_class}: {count}")

Passenger counts by class:
Class 1: 216
Class 2: 184
Class 3: 491

In [17]:
## End of Examples 01 ##